.settings
/log
*.log

/out/
.arcconfig
target
logs
log
/*.classpath
/*.project
/bin/
*.classpath
*.project
*.settings
*.iml
*.iws
*.ipr
.idea/
target/
/target/
.DS_Store
*.jar
/**/.mvn
/**/mvnw
/**/mvnw.cmd